<!doctype html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Huzzah</h1>
<h2 th:if="${user != null}" th:text="${'Current user: ' + user.username}"></h2>
<h3 th:text="'Current User Id: ' + ${user.id}"></h3>
<h1>This is me. Hello</h1>

<form action="/addPost" method="post">
    <fieldset>
        <legend>Add Post</legend>
        <textarea rows="4" cols="40" name="body" id="body"></textarea>
        <input  type="hidden" th:value="${user.username}" name="username" id="username">
        <input type="submit" value="Add Post">
    </fieldset>
</form>

<ul th:each="post : ${posts}">
    <li th:text="${post.body + ' ' + post.timeStamp}"></li>
</ul>

<a th:if="!${user}" href="/login">Log In</a>
<br>
<a th:if="!${user}" href="/signup">Or Sign Up</a>
<a th:if="${user}" href="/logout">Log Out</a>
</body>
</html>